@charset "utf-8";

#script-includes {
	display: none;
}

html,
body {
	font-family: monospace;
	height: 100%;
}

header {
	border-bottom: 1px solid #000;
	height: 30px;
	margin: 0;
	padding: 0;
}

nav,
ul {
	margin: 0;
	padding: 0;
}

nav ul,
nav ul li {
	list-style: none;
}

nav ul li {
	float: left;
	margin: 0 10px;
}

section#body,
#contents {
	border: 0;
	height: 100%;
	width: 100%;
}

a,
a:active,
a:hover,
a:link,
a:visited {
	color: #000;
}
